@import '../../Styles/variables';

.billing-filter-menu {
  width: $size-320;
  display: flex;
  flex-direction: column;
  padding: 0;
  &-title {
    padding: $size-10 $size-24;
    font-weight: 600;
    font-size: $size-16;
    line-height: $size-24;
    color: $gray-9;
    border-bottom: $size-1 solid $gray-5;
  }
  &-input {
    padding: $size-10 $size-24;
    .desc {
      font-weight: 400;
      font-size: $size-14;
      line-height: $size-22;
      color: $blue-7;
      letter-spacing: -0.6px;
    }
    .billing-filter-checkbox-group {
      display: flex;
      flex-direction: column;
      margin-top: $size-5;
      .ant-checkbox-group-item {
        &:not(:last-child) {
          margin-bottom: $size-5;
        }
      }
    }
  }

  .title {
    font-weight: 600;
    font-size: $size-14;
    line-height: $size-22;
    color: $gray-9;
  }
  .button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: $size-12 $size-24;
    border-top: $size-1 solid $gray-5;
  }
}

.filter-button {
  height: $size-40;
  font-weight: 400;
  font-size: $size-14;
  line-height: $size-22;
  color: $gray-8;
  &:hover,
  &:focus {
    color: $gray-9;
  }
}
.start-day-container {
  top: -50px !important;
  left: -300px !important;
  &::before {
    content: '';
    background: $gray-1;
    width: $size-50;
    height: $size-50;
    right: 0;
    top: $size-40;
    z-index: 0;
    position: absolute;
    transform: rotate(45deg);
  }
}
