@import '../../Styles/variables';

.show-timer-button {
  display: flex;
  align-items: center;
  height: $size-32;
  margin-right: $size-24;
  background: $gray-1;

  border: 1px solid $gray-5;
  box-sizing: border-box;
  border-radius: 2px;
  padding-right: $size-9;
  padding-left: $size-6;
  &:hover {
    border-color: $blue-6;
    color: $blue-6;
  }
  &-icon {
    background: transparent;
    border: 1px solid $gray-8;
    color: $gray-8;
    width: $size-20;
    height: $size-20;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $size-10;
    padding: 0;
    padding-left: $size-2;
    &:hover {
      border-color: $blue-6;
      color: $blue-6;
    }
  }
  &.isStarted {
    .show-timer-button-icon {
      padding-left: 0;
      border: 1px solid $gray-9;
      color: $gray-9;
      &:hover {
        border-color: $blue-6;
        color: $blue-6;
      }
    }
    background-color: $orange-3;
    border: none;
    border-radius: $size-4;
    &:hover {
      border-color: $blue-6;
      color: $gray-9;
      background-color: $orange-2;
    }
  }
}
.clock-icon-button {
  display: flex;
  border: none;
  background-color: transparent;
  padding: $size-4;
  margin-right: $size-24;
  &:hover {
    border: none;
    box-shadow: none;
  }
}
