@import '../../../Styles/variables';

@keyframes open-sidebar {
  from {
    width: 0;
  }
  to {
    width: 40rem;
  }
}
.open-sidebar {
  animation: open-sidebar 0.2s linear;
}
@keyframes close-sidebar {
  from {
    width: 40rem;
  }
  to {
    width: 0;
  }
}
.close-sidebar {
  animation: close-sidebar 0.2s linear;
}

.video-call-component {
  display: flex;
  justify-content: flex-end;
}

.video-call-side-tab {
  display: flex;
  width: 38.625rem;
  transition: all ease-in-out 0.2;
  // margin-left: $size-24;
  height: 100%;
  &-menu {
    z-index: 5;
    width: $size-200;
    height: 100vh;
    position: relative;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .ant-menu-item {
      display: flex;
      align-items: center;
      .ant-menu-title-content {
        display: flex;
        align-items: center;
      }
    }
    .ant-menu-item {
      height: $size-40 !important;
      padding-left: $size-24;
      &:first-child {
        margin-top: $size-4 !important;
      }
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-right: 3px solid #1890ff;
        transform: scaleY(0.0001);
        opacity: 0;
        transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
          opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
        content: '';
      }
      &.ant-menu-item-selected {
        &::after {
          transform: scaleY(1);
          opacity: 1;
          transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
            opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
      }
    }
    .collapse-btn {
      position: absolute;
      top: calc(100% - 48px);
      left: calc(50% - 24px);
      display: flex;
      justify-content: center;
      align-items: center;
      width: $size-48;
      height: $size-48;
      font-size: $size-20;
      border: none;
      padding: 0;
      background-color: transparent;
    }
  }
  &-content {
    height: 100vh;
    flex: 1;
    background-color: $gray-1;
    padding: $size-24;
    overflow: auto;
    .vitals-container {
      margin: 0 auto;
      max-width: $size-485;
    }
  }

  &.close-sidebar {
    width: 4rem;
    transition: all ease-in-out 0.2;
    .video-call-side-tab-content {
      padding: 0;
    }
    .ant-menu-item {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.open-sidebar {
    width: 46rem;
  }
  .display-none {
    display: none;
  }
}
