@import '../../../../Styles/variables';

.timer-input-container {
  margin-top: $size-12;
  position: relative;
  .timer-input {
    border: none;
    width: 120px;
    .ant-input {
      // margin-top: $size-12;
      padding: $size-8;
      font-weight: 600;
      font-size: $size-24;
      line-height: $size-32;
      color: $gray-9;
      background: $gray-3;
      border-radius: $size-2;
      border: none;
      height: unset;
      &::selection {
        color: $gray-8;
        background-color: $gray-6;
      }
      &::placeholder {
        display: none;
      }
      &:focus {
        border: none;
        box-shadow: none;
      }
    }
    &.show-input {
      height: fit-content;
    }
    &.hide-input {
      height: 0;
      padding: 0;
      .basic-number-format {
        height: 0;
        padding: 0;
      }
    }
  }
  .runner-time {
    display: flex;
    width: 120px;

    padding: $size-8;
    font-weight: 600;
    font-size: $size-24;
    line-height: $size-32;
    color: $gray-9;
    background: $gray-3;
    border-radius: $size-2;
    border: none;
    &.show-timer {
      height: fit-content;
    }
    &.hide-timer {
      height: 0;
      padding: 0;
    }
  }
  .posisition-abs {
    position: absolute;
    z-index: -99;
  }
}
