@import '../../../../../Styles/variables';
.appointment-info {
  .render-infor {
    .condition-infor-title {
      font-weight: 700;
      font-size: $size-18;
      line-height: $size-26;
      color: $black-1;
    }
    .normal-title {
      font-style: normal;
      font-weight: 700;
      font-size: $size-12;
      line-height: $size-18;
      color: $black-1;
    }
    &-avatar {
      display: flex;
      margin-bottom: 12px;
      .avatar-ct-wrapper {
        margin-right: 12px;
        width: 52px;
        height: 52px;
        img {
          width: 52px;
          height: 52px;
        }
      }
      .ant-typography {
        margin-bottom: 0;
      }
    }
  }
}
