@import '../../../Styles/variables';
.add-medication-modal-wrapper {
  // .ant-modal-footer {
  //   display: none;
  // }
  height: 80%;
  overflow: auto;
  padding: 0;
  .add-medication-modal-body {
    padding: $size-24;
  }
  .add-medication-modal-footer {
    width: 100%;
    padding: $size-10 $size-16;
    border-top: $size-1 solid $gray-4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      flex: 1;
    }
  }

  .time-to-take {
    &-main {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
    }
    &-item {
      margin-top: $size-8;
      width: $size-100;
    }
  }
}
